
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    cursor: pointer;
    animation: pulse 1s infinite; /* Added animation effect */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; /* Added margin at the top of book list */
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-info {
    font-size: 14px;
    color: #555;
    margin-top: auto;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 1;
}

.modal input {
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.modal button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.modal button:hover {
    background-color: #45a049;
}

/* Checkbox Styles */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#read {
    display: none;
}

#read + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

#read + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border: 2px solid #4caf50;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#read:checked + label::before {
    background-color: #4caf50;
    border-color: #4caf50;
}

#read + label::after {
    content: '';
    position: absolute;
    left: 40px;
    color: #555;
}

#read:checked + label::after {
    content: '';
    color: #4caf50;
}